<body>
<h1>Speedwagon in the Cloud</h1>
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

<form target="dummyframe"
        action="/api/files"
        enctype="multipart/form-data" id="newData" method="post">
<input name="files" type="file" multiple>
<input type="submit">
</form>
<ul id="files"></ul>

<button id="clearButton">Clear</button>
<script>
    const filesList = document.getElementById('files')
    function update(){
        fetch("/api/files")
            .then(e => e.json())
            .then(e => {
                filesList.innerHTML = "";
                for(const f of e.files){
                  const li = document.createElement("li")
                  li.innerText = f
                  filesList.appendChild(li)
                }
            })
    }

    const form = document.getElementById('newData')
    form.onsubmit = function (){location.reload()}
    update()

    setInterval(update, 6000)

    document.getElementById('clearButton').onclick = function (){
        fetch("/api/files", {method: 'DELETE'})
            .then(e =>{
                fetch("/api/files")
                    .then(e => {update()})
            });
    }

</script>
</body>